*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(rgba(113, 173, 133, 0.4),rgba(36, 20, 33, 0.5)), url(../images/freelance.png);
    background-position: center;
    background-repeat: no-repeat;
}
.container-fluid{
  background: #8E9F98;
}
.navbar-nav{
    text-align: right;
    margin-left: 20%;
    float:right
}
nav{
    background: #8E9F98;
    height: 100px;
    width: 100%;
}
nav img{
    width: 250px;
}

nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 15px;  
}
nav ul li a{
    color: #1C0E29 ;
    font-size: 20px;
    padding: 7px 12px;
    border-radius: 4px;
    text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
    background: #867048 ;
    transition: 0.9s;
}

.heading{
    padding-top: 150px;
    text-align: center;
}
.heading h1{
    padding-top: 50px;
    font-size: 60px;
    color: rgb(17, 38, 39);
    font-weight: bold;
    text-transform: uppercase;

}
.intro{
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}
.intro p{
    padding-top: 50px;
    font-size: 40px;
    color: rgb(0, 12, 12);
}
.intro p strong{
    color: rgb(17, 38, 39);
    font-size: 50px;
    font-weight: bold;
}
body{
    background: linear-gradient(rgba(113, 173, 133, 0.8),rgba(36, 20, 33, 0.8));
}

.visit{
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}
.visit p{
    padding-top: 0px;
    font-size: 50px;
    color: rgb(152, 223, 223);
}
.visit p strong{
    color: rgb(156, 141, 148);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
footer{
    width: 100%;
    height: 250px;
    background:linear-gradient(rgba(113, 173, 133, 0.8),rgba(36, 20, 33, 0.8)), url(../images/website\ bsnner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.copy{
    opacity: 1;
    font-size: 25px;
    color: rgb(235, 235, 235);
    padding-top: 200px;
    text-align: center;

}


/* ----------------------------card -------------*/



.card-body{
    border: 5px solid rgb(250, 250, 250);
    display: inline-block;
    box-shadow: 0 35px 55px rgb(152 178 178);
    width: 270px;
    margin-left:70px;
    margin-bottom:100px;
    margin-top: 150px;
    text-align: justify;
}
.card-body h5{
    font-size: 35px;
    margin-left: 50px;
    text-align: justify;
    color: rgb(199, 184, 184);
    margin-bottom: 20px;
    margin-top: 15px;
}
.card-body img{
    width: 270px;
    padding-right: 50px;
    position: relative;
    height: 250px;
}
.card-body p{
    font-size: 16px;
    margin-left: 50px;
    text-align: justify;
    color: rgb(14, 2, 2);
}
.card-body button{
    margin-top: 25px;
    margin-left: 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    width: 60%;
    height: 40px;
    background: rgb(152, 153, 151);
    color: rgb(19, 48, 19);
    cursor: pointer;
    margin-bottom: 20px;
}
.card-body button:hover{
    color: red;
    background-color: rgb(80, 77, 77);
}



/*----------------------- conatact -----------------*/
.contact ul{
    margin-top:100px ;
    text-align: center;
    margin-bottom: 150px;
}
.contact ul li{
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-left: 30px;
    border: 2px solid black;
    background: rgb(230, 200, 200);
}
.contact ul li a{
    font-size: 20px;
    border-radius: 4px;
    text-transform: uppercase;
    color: rgb(76, 76, 78);

}
.contact ul li.active,.contact ul li:hover{
    background: #a39c8c ;
    transition: 0.5s;
}
.contact ul li a.active,.contact ul li a:hover{
    background: #5c5a56 ;
    transition: 0.3s;
    color: aliceblue;
}
.contactForm{
    text-align: center;
    margin-top: 100px;
}
.contactForm input{
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    color: rgb(15, 122, 126);
    font-size: 25px;
    background: rgb(152, 155, 149);
    border: none;
}
#submit{
    color: rgb(218, 214, 212);
    background: rgb(39, 32, 34);
    width: 15%;
    cursor: pointer;
    border: 5px solid rgb(212, 162, 136) ;
    border-radius: 50px;

}
#submit:hover{
    background: rgb(218, 214, 212);
    color: rgb(39, 32, 34);
    border: 5px solid rgb(212, 162, 136);
    transition: .9s;
}
.contactForm textarea{
    width: 50%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
    color: rgb(15, 122, 126);
    font-size: 25px;
    background: rgb(152, 155, 149);
    border: none;
}

@media screen and (max-width:1000px) {
    .contactForm input{
        line-height: 50px;
        width: 50%;
        color: rgb(15, 122, 126);
        font-size: 15px;
    }
.body{
    margin-top: 500px;
}
.body1{
    margin-top: 500px;
}


    .heading{
        margin-top: auto;
        text-align: center;
    }
    .heading h1{
        margin-top: 50px;
        font-size: 40px;   
    }
    .intro{
        margin-top: 250px;
    }
    .intro p{
        margin-top: 150px;
    }    
    .visit{
        margin-top: 250px;
    }
    .visit p{
        margin-top: 100px;

    }
    .visit p strong{
        color: rgb(156, 141, 148);
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
    }


}




